@model MainConf.Models.Main.Part2
@{
    ViewData["Title"] = "Yaratish";
}
<script src="~/editor/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="~/editor/summernote-lite.min.js"></script>
<section class="content">
    <form method="post" asp-action="Create">
        <div class="card card-info" style="margin-top:1%;">
            <div class="card-header">Yangi savol qo'shish!</div>
            <div class="card-body">
                <div class="row">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text ">Savol mazmuni</span>
                        </div>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text ">Savol Vaqti</span>
                        </div>
                        <input type="number" asp-for="Timeq" class="form-control" min="1" />
                        <span asp-validation-for="Timeq" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text ">Savol tili va darajasi</span>
                        </div>
                        <select asp-for="Level_id" class="form-control" asp-items="ViewBag.Level_id1"></select>
                        <span asp-validation-for="Level_id" class="text-danger"></span>
                    </div>
                    @* <textarea id="fullquestion" asp-for="Question" hidden></textarea>*@
                    <textarea id="summernote" asp-for="Question"></textarea>
                    <div class="input-group mb-3" style="margin-top:1%">
                        <div class="btn-group  float-lg-right">
                            <input class="btn btn-success" onclick="gethtml()" type="submit" value="Qo'shish" />
                            &nbsp&nbsp
                            <a type="button" class="btn btn-default" asp-action="Index">
                                Bekor qilish
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</section>
<script>
    function gethtml() {

    }
    $('#summernote').summernote({
        placeholder: 'Savol matni',
        tabsize: 2,
        height: 320,
        width:2024,
        toolbar: [
            ['font', ['bold', 'underline', 'clear',]],
            ['para', ['ul', 'ol', 'paragraph']],
            ['view', [ 'codeview']]
        ]
    });
</script>