
@model MainConf.ViewModels.LoginViewModel
@{
    Layout = null;
}

<script src="~/js/main.js"></script>
<script src="~/js/llqrcode.js"></script>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/lib/bootstrap/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/site.css" />
<body id="body" class="row " style=" background-image: url('/images/123456.jpg'); background-repeat: no-repeat; " >
    <style>

        body {
            
        }
        video, #pnfl {
            padding-top: 10px;
            max-height: 75%;
            max-width: 100%;
        }

        canvas {
            max-height: 0px;
            max-width: 0px;
        }

        #logo {
           max-width: 80%;
        }

        #txt {
            font-size:250%;
            max-height: 100%;
        }

        .row {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <div id="main1" class="col-sm-5 " hidden>
        <div class="card" >
            <div class="card-header bg-light text-black">
                <div class="row  ">
                    <div class="col-sm-2"><img id="logo" src="~/images/log.png" /></div>
                    <div id="txt" class="col-sm-9 text-center  font-weight-bold my-auto">Milliy test tizimi</div>
                </div>
            </div>


            <div class="card-body"  id="daving">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">QRcode orqali kirish</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">JSHIR orqali kirish</a>

                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" style="width:inherit; height:inherit;" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="border-right border-info  col-4 ">

                                <center>
                                    <div class="alert alert-info"><p><b>Kartangizdagi QR codeni kameraga qarating.</b></p></div><img src="~/images/icon.jpg" style="width:80%;" />

                                    <p><a href="#" class="" data-toggle="modal" data-target="#exampleModal1"> QR code nima?</a></p>
                                </center>

                            </div>
                            <div class=" col-8" style="padding-top:1%;">

                                <div style="display:none" id="result"></div>
                                <div class="selector" id="webcamimg" onclick="setwebcam()" align="left"></div>
                                <div style="display:none;" class="selector" id="qrimg" onclick="setimg()" align="right"></div>
                                <center id="mainbody"><div id="outdiv"></div></center>
                                <canvas id="qr-canvas"></canvas>

                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <form method="post" asp-controller="Account" asp-action="Login">

                            <img id="pnfl" src="~/images/image_2021-02-02_14-55-50.png" />
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger">
                                <strong> Siz noto'g'ri JSHIR kiritdingiz </strong>
                            </div>

                            <div class="input-group mb-3">

                                <input asp-for="Pnfl" type="number" class="form-control" placeholder="JSHIR ni kiriting" onKeyPress="if (this.value.length == 14) return false;" autocomplete="off" min="14" />


                                <span asp-validation-for="Pnfl" class="text-danger"></span>
                            </div>

                            <hr />


                            <button type="submit" class="btn btn-primary col-12">Tizimga kirish</button>
                        </form>
                    </div>

                </div>




            </div>
            <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ogohlantirish!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="indexmodal2" class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>

                        </div>
                    </div>
                </div>
            </div>


            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
        </div>
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
                <div class="modal-body">
                    <img src="~/images/B1_1.jpg" style="width:100%;" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="errorqr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="exampleModalLabel">Xatolik!</h5>

                </div>
                <div id="indexmodal" class="modal-body">
                    Ma'lumotlar mos emas! Iltimos Qrcodeni tekshiring yoki Pnfl orqali kiring tizimga.
                </div>


            </div>
        </div>
    </div>
</body>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">load();</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/jquery-1.11.2.min.js"></script>
<script>
    let p = document.getElementById('main1');
    p.removeAttribute("hidden");

    if (navigator.userAgent.indexOf('Chrome') != -1 && parseFloat(navigator.userAgent.substring(navigator.userAgent.indexOf('Chrome') + 7).split(' ')[0]) >= 34 && navigator.userAgent.indexOf('Edge')==-1) {//Chrome
        let p = document.getElementById('main1');
        p.removeAttribute("hidden");
        

    } else {
        let p = document.getElementById('main1');
        p.removeAttribute("hidden");
        $("#main1").empty();
        $("#main1").append("<center><h2>Mazkur tizim faqat Google Chrome > 34 version da ishlaydi!</h2></center>");
    }
    window.onload = function () {
        getip();
    }
    function getip() {
        $.ajax({
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: "/Account/Finished",
            success: function (data) {
                if (data.lets == true) {
                    console.log("You can do it!");

                } else {
                    let p = document.getElementById('main1');
                    p.removeAttribute("hidden");
                    $("#daving").empty();
                    $("#daving").append("<center><h2>" + data.positions + "</h2></center>");
                }
            }
        });
    }
 
</script>